
input[type="search"] {
    width: 700;
    height: 40;
    font-size: 16;
    border-radius: 20;
}

body {
    font-family: Times New Roman;
    background-color: #f6f8fa;
}

input, textarea {
    width: 300;
    padding: 8;
    margin-top: 5;
}

button {
    padding: 8 15;
    background-color: #24292e;
    color: white;
    border: none;
}
